<div class="color" style="padding-top: 20px;">

    <div class="fx fx-row-wrap fx-layout-align-stretch fx-layout-align-space-evenly-stretch width-24">

        <div class="product">
         
            <mat-card appearance="outlined" class="title-card-img" style="margin-bottom: 30px; border-radius: 90% 90% 0% 0%;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">LA MPT</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button routerLink="/team">Aller à team</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
                  

            <mat-card appearance="outlined" class="card-img player-bg-image-azerty" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-title-center">
                        <mat-card-title class="norse-font">Azerty</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('Azerty', 0)">Description</button>
                    </mat-card-actions>
                </div>
                  
              </mat-card>
                  
          
              <mat-card appearance="outlined" class="card-img player-bg-image-fei" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-title-center">
                        <mat-card-title class="norse-font">Mr.Daiyamondo</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('Mr.Daiyamondo', 1)">Description</button>
                    </mat-card-actions>
                </div>
                  
              </mat-card>
            
        </div>
          
        <div class="product">
          
            <mat-card appearance="outlined" class="title-card-img" style="margin-bottom: 30px; border-radius: 90% 90% 0% 0%;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">LA DOUILLE CORP</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button routerLink="/team">Aller à team</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
                  
              <mat-card appearance="outlined" class="card-img player-bg-image-ckc" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-title-center">
                        <mat-card-title class="norse-font">CKC</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('CKC', 2)">Description</button>
                    </mat-card-actions>
                </div>
                  
              </mat-card>
                  
          
              <mat-card appearance="outlined" class="card-img player-bg-image-sapinos" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-title-center">
                        <mat-card-title class="norse-font">Sapinos</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('Sapinos', 3)">Description</button>
                    </mat-card-actions>
                </div>
                  
              </mat-card>
                     
        </div>
    
    
        <div class="product">
    
            <mat-card appearance="outlined" class="title-card-img" style="margin-bottom: 30px; border-radius: 90% 90% 0% 0%;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">LE HT</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button routerLink="/team">Aller à team</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
                  
              <mat-card appearance="outlined" class="card-img player-bg-image-smogoth" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-title-center">
                        <mat-card-title class="norse-font">smogoth'</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('Smogoth\'', 4)">Description</button>
                    </mat-card-actions>
                </div>
                  
              </mat-card>
                        
              <mat-card appearance="outlined" class="card-img player-bg-image-bearr" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-title-center">
                        <mat-card-title class="norse-font">Bearr</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('Bearr', 5)">Description</button>
                    </mat-card-actions>
                </div>
                  
              </mat-card>
                        
    
        </div>
    
        
        <div class="product">
    
    
            <mat-card appearance="outlined" class="title-card-img" style="margin-bottom: 30px; border-radius: 90% 90% 0% 0%;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">LE BLOSSOM</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions routerLink="/team">
                        <button mat-button routerLink="/team">Aller à team</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
                  
              <mat-card appearance="outlined" class="card-img player-bg-image-drazai" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-title-center">
                        <mat-card-title class="norse-font">Drazai</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('Drazaï', 6)">Description</button>
                    </mat-card-actions>
                </div>
                  
              </mat-card>
                  
          
              <mat-card appearance="outlined" class="card-img player-bg-image-irto" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-title-center">
                        <mat-card-title class="norse-font">Irtozero</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('Irtozero', 7)">Description</button>
                    </mat-card-actions>
                </div>
                  
              </mat-card>
                  
        </div>
    
    </div>

    <div class="grid">

        <div class="previous norse-font" routerLink="/caster">
            <br><br>
            Casteurs
        </div>
        <div class="adb-logo">
    
        </div>
        <div class="next norse-font" routerLink="/team">
            <br><br>
            Teams
        </div>
    </div>

</div>
