<div class="color" style="padding-top: 20px;">

    <div class="fx fx-row-wrap fx-layout-align-stretch fx-layout-align-space-evenly-stretch width-80">
        
        <div class="product">

            <mat-card appearance="outlined" class="title-card-img" style="margin-bottom: 30px; border-radius: 90% 90% 0% 0%;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">LA MPT</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button routerLink="/team">Aller à team</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>

            <mat-card appearance="outlined" class="card-img player-bg-image-jaaj" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-title-center">
                        <mat-card-title class="norse-font">Jaaj</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('Soma')">Description</button>
                    </mat-card-actions>
                </div>
                  
              </mat-card>
                      
            <mat-card appearance="outlined" class="card-img player-bg-image-tilte" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-title-center">
                        <mat-card-title class="norse-font">tilte</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('Soma')">Description</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
                  
        </div>
    

        <div class="product">
    
            <mat-card appearance="outlined" class="title-card-img" style="margin-bottom: 30px; border-radius: 90% 90% 0% 0%;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">LA DOUILLE CORP</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button routerLink="/team">Aller à team</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>

            <mat-card appearance="outlined" class="card-img player-bg-image-faroc" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-title-center">
                        <mat-card-title class="norse-font">Faroc</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('Soma')">Description</button>
                    </mat-card-actions>
                </div>
                  
              </mat-card>
                      
      <mat-card appearance="outlined" class="card-img player-bg-image-maxyoursgarou">
        <div>
            <mat-card-header class="mat-card-title-center">
                <mat-card-title class="norse-font">Maxyoursgarou</mat-card-title>
                
            </mat-card-header>
            <mat-card-actions>
                <button mat-button (click)="openDialog('Soma')">Description</button>
            </mat-card-actions>
        </div>
          
      </mat-card>
              
              
        </div>
    

        <div class="product">
    
            <mat-card appearance="outlined" class="title-card-img" style="margin-bottom: 30px; border-radius: 90% 90% 0% 0%;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">LE H TALK</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button routerLink="/team">Aller à team</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>

            <mat-card appearance="outlined" class="card-img player-bg-image-p2v" style="margin-bottom: 30px;">
                <div>
                <mat-card-header class="mat-card-title-center">
                    <mat-card-title class="norse-font">peu2vertu</mat-card-title>
                
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button (click)="openDialog('Soma')">Description</button>
                </mat-card-actions>
                </div>
          
            </mat-card>
              
        <mat-card appearance="outlined" class="card-img player-bg-image-ocarno" style="margin-bottom: 30px;">
            <div>
                <mat-card-header class="mat-card-title-center">
                    <mat-card-title class="norse-font">ocarno</mat-card-title>
                    
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button (click)="openDialog('Soma')">Description</button>
                </mat-card-actions>
            </div>
              
        </mat-card>

        </div>
    

        <div class="product">
    

            <mat-card appearance="outlined" class="title-card-img" style="margin-bottom: 30px; border-radius: 90% 90% 0% 0%;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">LE BLOSSOM</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button routerLink="/team">Aller à team</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
                
      <mat-card appearance="outlined" class="card-img player-bg-image-picpic" style="margin-bottom: 30px;">
        <div>
            <mat-card-header class="mat-card-title-center">
                <mat-card-title class="norse-font">Pic Pic</mat-card-title>
                
            </mat-card-header>
            <mat-card-actions>
                <button mat-button (click)="openDialog('Soma')">Description</button>
            </mat-card-actions>
        </div>
          
      </mat-card>
 
            <mat-card appearance="outlined" class="card-img player-bg-image-talion" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-title-center">
                        <mat-card-title class="norse-font">Talion</mat-card-title>
                
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('Soma')">Description</button>
                    </mat-card-actions>
                </div>
          
            </mat-card>
              
        </div>
    </div>


</div>
