.color {
  background-color: #4b5641;
  background-image: url(../../assets/adoubement2.png);
  background-size: cover;
  height: 118%;
  @media screen and (max-width: 700px) {
    display: block;
    overflow: auto;
    background-size: contain;
    padding-top: 130px!important;
  }
}

.fx {
  display: flex;
  flex-wrap: wrap;
}

.fx-row-wrap {
  flex-flow: row wrap;
  }

.fx-layout-align-space-evenly-stretch {
  place-content: stretch space-evenly;
  align-items: stretch;
}

.product {
  flex: 1 0 48%; /* explanation below */
  margin: 1%;
  height: 350px;
  width: 40%;

  @media screen and (max-width: 700px) {
    flex: 1 1 calc(90% - 16px);
    box-sizing: border-box;
    min-width: calc(90% - 16px);
    height: 100px;
  }
}

.width-80 {
  
  @media screen and (max-width: 700px) {
    width: 92%;
    margin-left: 4%;
  }
}

mat-card {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
}

mat-card-subtitle {
  background-color: transparent;
  margin-top: 10px;
}

mat-card-title {
  color: white;
  font-size: 100px;
}


.adb-logo {
  display: block;
  margin: auto;
  margin-top: -3%;
  background-image: url(../../assets/logo-adoubement.png);
  background-size: cover;
  width: 350px;
  height: 350px;
}

.title-card-img {
  width: 100%;
  border-radius: 10px;
  height: 350px;
  background-size: cover;  
  border: 3px solid black;
  
  @media screen and (max-width: 700px) {
    height: 130px;
  }

}
.mat-card-main-title {
  text-align: center;
  display: block;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 22px;
  @media screen and (max-width: 700px) {
    
    padding-top: 5%;
  }
}

.image {
  height: 100%;
  width: 100%;
}

button {
  display: block;
  margin: auto;
}

mat-card-actions {
  margin-top: auto;
  text-align: center;
}

.player-bg-image-moi {
  background-image: url('../../assets/test-banner.png');
}

.player-bg-image-azerty {
  background-image: url('../../assets/azerty.png');
}

.player-bg-image-faustin {
  background-image: url('../../assets/faustin.png');
}

.player-bg-image-le-bg {
  background-image: url('../../assets/le-bg.png');
}

.player-bg-image-mrclou {
  background-image: url('../../assets/mrclou.png');
}

.player-bg-image-baskoy {
  background-image: url('../../assets/baskoy.png');
}

.player-bg-image-sourif {
  background-image: url('../../assets/sourif.png');
}

.player-bg-image-clem {
  background-image: url('../../assets/clem.png');
}

.player-bg-image-slacker {
  background-image: url('../../assets/slacker.png');
}

@font-face {
  font-family: 'Norse'; /*a name to be used later*/
  src: url('../../../public/assets/fonts/norse/Norsebold.otf'); /*URL to font*/
}

.norse-font {
  font-family: 'Norse';
  color: white;
  font-size: 60px;
  @media screen and (max-width: 700px) {
    font-size: 40px;
  }
}

.object-align {
  width: 75%;
  margin-left: 30%;
}

.logo {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
}

.grid {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
}

.adb-logo {
  display: block;
  margin: auto;
  margin-top: 260px;
  background-image: url(../../assets/logo-adoubement.png);
  background-size: cover;
  width: 350px;
  height: 350px;
  
  @media screen and (max-width: 700px) {
    background-size: cover;
    width: 370px;
    height: 200px;
    margin-top: 0px;
  }
}

.next {
  color : white;
  font-size : 28px;
  margin-top: 350px;
  background-image: url(../../assets/arrow-right.png);
  background-size: cover;
  width: 200px;
  height: 200px;
  text-align: center;
  @media screen and (max-width: 700px) {
    width: 200px;
    height: 200px;
    margin-top: 0px;
  }
}

.previous {
  color : white;
  font-size : 28px;
  margin-top: 350px;
  background-image: url(../../assets/arrow-left.png);
  background-size: cover;
  text-align: center;
  width: 200px;
  height: 200px;
  @media screen and (max-width: 700px) {
    width: 200px;
    height: 200px;
    margin-top: 0px;
  }
}

mat-card-actions {
  padding-top: 180px;
  
  @media screen and (max-width: 700px) {
    padding-top: 2%;
    font-size: 100px!important;
  }
}

.font-size-var {
  font-size: 24px;
  @media screen and (max-width: 700px) {
    font-size: 14px!important;
  }
}