<div class="color" style="padding-top: 20px;">

    <div class="fx fx-row-wrap fx-layout-align-stretch fx-layout-align-space-evenly-stretch width-80">

            <mat-card appearance="outlined" class="title-card-img product player-bg-image-clem" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">Clemclou</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions style="padding-top: 180px;">
                        <button mat-button (click)="openDialog('Clemclou', 0)" style="font-size: 22px;">Description</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
              
            <mat-card appearance="outlined" class="title-card-img product player-bg-image-sourif" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">Sourif</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions style="padding-top: 180px;">
                        <button mat-button (click)="openDialog('Sourif', 1)" style="font-size: 22px;">Description</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
              
            <mat-card appearance="outlined" class="title-card-img product player-bg-image-baskoy" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">Baskoy</mat-card-title>
                    </mat-card-header>
                    <mat-card-actions style="padding-top: 180px;">
                        <button mat-button (click)="openDialog('Baskoy', 2)" style="font-size: 22px;">Description</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
              
            <mat-card appearance="outlined" class="title-card-img product player-bg-image-slacker" style="margin-bottom: 30px;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">Slacker</mat-card-title>
                        
                    </mat-card-header>
                    <mat-card-actions style="padding-top: 180px;">
                        <button mat-button (click)="openDialog('Slacker', 3)" style="font-size: 22px;">Description</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
              
              
              

    </div>


</div>
