<div class="color" style="padding-top: 20px;">

  <br>
  <div class="text-style">
    {{ texte }} 
  </div>


  <div class="winner-bracket">

    <div class="theme theme-dark">
      <div class="bracket disable-image">
        <div class="column one">
          <div class="match winner-top">
            <div id="p1" class="match-top team">
              <span class="image"></span>
              <span class="seed">1</span>
              <span class="name">Ocarno</span>
              <input class="score" (input)="getScore($event)" type="text" id="0" maxlength="1">
            </div>
            <div id="p2" class="match-top team">
              <span class="image"></span>
              <span class="seed">8</span>
              <span class="name">MaxyOursGarou</span>
              <input class="score" (input)="getScore($event)" type="text" id="1" maxlength="1">
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
          <div class="match winner-bottom">
            <div id="p3" class="match-bottom team">
              <span class="image"></span>
              <span class="seed">4</span>
              <span class="name">Tilté</span>
              <input class="score" (input)="getScore($event)" type="text" id="2" maxlength="1">
            </div>
            <div id="p4" class="match-bottom team">
              <span class="image"></span>
              <span class="seed">5</span>
              <span class="name">Talion</span>
              <input class="score" (input)="getScore($event)" type="text" id="3" maxlength="1">
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
          <div class="match winner-top">
            <div id="p5" class="match-top team">
              <span class="image"></span>
              <span class="seed">2</span>
              <span class="name">Picpic7</span>
              <input class="score" (input)="getScore($event)" type="text" id="4" maxlength="1">
            </div>
            <div id="p6" class="match-top team">
              <span class="image"></span>
              <span class="seed">7</span>
              <span class="name">Peu2Vertu</span>
              <input class="score" (input)="getScore($event)" type="text" id="5" maxlength="1">
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
          <div class="match winner-top">
            <div id="p7" class="match-top team">
              <span class="image"></span>
              <span class="seed">3</span>
              <span class="name">Faroc</span>
              <input class="score" (input)="getScore($event)" type="text" id="6" maxlength="1">
            </div>
            <div id="p8" class="match-top team">
              <span class="image"></span>
              <span class="seed">6</span>
              <span class="name">J44J</span>
              <input class="score" (input)="getScore($event)" type="text" id="7" maxlength="1">
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
        <div class="column two">
          <div class="match winner-bottom">
            <div id="p9" class="match-bottom team">
              <span class="image"></span>
              <span class="name">{{ w1 }}</span>
              <input class="score" (input)="getScore($event)" type="text" id="8" maxlength="1">
            </div>
            <div id="p10" class="match-bottom team">
              <span class="image"></span>
              <span class="name">{{ w2 }}</span>
              <input class="score" (input)="getScore($event)" type="text" id="9" maxlength="1">
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
          <div class="match winner-top">
            <div id="p11" class="match-top team">
              <span class="image"></span>
              <span class="name">{{ w3 }}</span>
              <input class="score" (input)="getScore($event)" type="text" id="10" maxlength="1">
            </div>
            <div id="p12" class="match-top team">
              <span class="image"></span>
              <span class="name">{{ w4 }}</span>
              <input class="score" (input)="getScore($event)" type="text" id="11" maxlength="1">
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
        <div class="column three">
          <div class="match winner-top">
            <div id="p13" class="match-top team">
              <span class="image"></span>
              <span class="name">{{ w5 }}</span>
              <input class="score" (input)="getScore($event)" type="text" id="12" maxlength="1">
            </div>
            <div  id="p14" class="match-top team">
              <span class="image"></span>
              <span class="name">{{ w6 }}</span>
              <input class="score" (input)="getScore($event)" type="text" id="13" maxlength="1">
            </div>
            <div class="match-lines">
              <div class="line one"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>        
        </div>
        <div class="column three">
          <div class="match winner-top">
            <div id="p15" class="match-top team">
              <span class="image"></span>
              <span class="name">{{ w7 }}</span>
              <input class="score" (input)="getScore($event)" type="text" id="14" maxlength="1">
            </div>
            <div  id="p16" class="match-top team">
              <span class="image"></span>
              <span class="name">{{ w8 }}</span>
              <input class="score" (input)="getScore($event)" type="text" id="15" maxlength="1">
            </div>
            <div class="match-lines">
              <div class="line one"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>        
        </div>
        <div class="column three">
          <div class="match winner-top">
            <div id="p113" class="match-top team">
              <span class="image"></span>
              <span class="name">{{ w9 }}</span>
              <input class="score" (input)="getScore($event)" type="text" id="28" maxlength="1">
            </div>
            <div  id="p114" class="match-top team">
              <span class="image"></span>
              <span class="name">{{ w10 }}</span>
              <input class="score" (input)="getScore($event)" type="text" id="29" maxlength="1">
            </div>
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>        
        </div>
      </div>
    </div>




  </div>


  
  <div class="theme theme-dark">
    <div class="bracket disable-image">
      <div class="column one">
        <div class="match winner-top">
          <div id="p101" class="match-top team">
            <span class="image"></span>
            <span class="name">{{ l1 }}</span>
            <input class="score" (input)="getScore($event)" type="text" id="16" maxlength="1">
          </div>
          <div id="p102" class="match-top team">
            <span class="image"></span>
            <span class="name">{{ l2 }}</span>
            <input class="score" (input)="getScore($event)" type="text" id="17" maxlength="1">
          </div>
          <div class="match-lines">
            <div class="line one"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>
        <div class="match winner-bottom">
          <div id="p103" class="match-bottom team">
            <span class="image"></span>
            <span class="name">{{ l3 }}</span>
            <input class="score" (input)="getScore($event)" type="text" id="18" maxlength="1">
          </div>
          <div id="p104" class="match-bottom team">
            <span class="image"></span>
            <span class="name">{{ l4 }}</span>
            <input class="score" (input)="getScore($event)" type="text" id="19" maxlength="1">
          </div>
          <div class="match-lines">
            <div class="line one"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>
        
      </div>
      <div class="column two">
        <div class="match winner-bottom">
          <div id="p105" class="match-bottom team">
            <span class="image"></span>
            <span class="name">{{ l5 }}</span>
            <input class="score" (input)="getScore($event)" type="text" id="20" maxlength="1">
          </div>
          <div id="p106" class="match-bottom team">
            <span class="image"></span>
            <span class="name">{{ l6 }}</span>
            <input class="score" (input)="getScore($event)" type="text" id="21" maxlength="1">
          </div>
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>
        <div class="match winner-top">
          <div id="p107" class="match-top team">
            <span class="image"></span>
            <span class="name">{{ l7 }}</span>
            <input class="score" (input)="getScore($event)" type="text" id="22" maxlength="1">
          </div>
          <div id="p108" class="match-top team">
            <span class="image"></span>
            <span class="name">{{ l8 }}</span>
            <input class="score" (input)="getScore($event)" type="text" id="23" maxlength="1">
          </div>
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>
      </div>
      <div class="column three">
        <div class="match winner-top">
          <div id="p109" class="match-top team">
            <span class="image"></span>
            <span class="name">{{ l9 }}</span>
            <input class="score" (input)="getScore($event)" type="text" id="24" maxlength="1">
          </div>
          <div  id="p110" class="match-top team">
            <span class="image"></span>
            <span class="name">{{ l10 }}</span>
            <input class="score" (input)="getScore($event)" type="text" id="25" maxlength="1">
          </div>
          <div class="match-lines">
            <div class="line one"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>        
      </div>
      <div class="column three">
        <div class="match winner-top">
          <div id="p111" class="match-top team">
            <span class="image"></span>
            <span class="name">{{ l11 }}</span>
            <input class="score" (input)="getScore($event)" type="text" id="26" maxlength="1">
          </div>
          <div  id="p112" class="match-top team">
            <span class="image"></span>
            <span class="name">{{ l12 }}</span>
            <input class="score" (input)="getScore($event)" type="text" id="27" maxlength="1">
          </div>
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>        
      </div>
    </div>
  </div>

</div>