
<mat-dialog-content>
    <h2 mat-dialog-title> {{ data.name }} </h2>
    <mat-divider></mat-divider>
<br><br>


<div class="fx fx-row-wrap fx-layout-align-stretch fx-layout-align-space-evenly-stretch width-80">
    <div class="title-card-img product player-bg-image-clem" *ngIf="data.name==='Clemclou'">

    </div>
    <div class="title-card-img product player-bg-image-soma" *ngIf="data.name==='Soma'">

    </div>
    <div class="title-card-img product player-bg-image-faustin" *ngIf="data.name==='Rouxblart'">

    </div>
    <div class="title-card-img product player-bg-image-loic" *ngIf="data.name==='Loic'">

    </div>
    <div class="title-card-img product player-bg-image-bastian" *ngIf="data.name==='Nesquik'">

    </div>
    <div class="title-card-img product player-bg-image-jaaj" *ngIf="data.name==='Jaaj'">

    </div>
    
    <div class="title-card-img product player-bg-image-tilte" *ngIf="data.name==='Tilte'">

    </div>
    <div class="title-card-img product player-bg-image-faroc" *ngIf="data.name==='Faroc'">

    </div>
    <div class="title-card-img product player-bg-image-maxyoursgarou" *ngIf="data.name==='Maxyoursgarou'">

    </div>
    <div class="title-card-img product player-bg-image-p2v" *ngIf="data.name==='Peu2Vertu'">

    </div>
    <div class="title-card-img product player-bg-image-ocarno" *ngIf="data.name==='Ocarno'">

    </div>
    <div class="title-card-img product player-bg-image-picpic" *ngIf="data.name==='Pic Pic'">

    </div>
    <div class="title-card-img product player-bg-image-sourif" *ngIf="data.name==='Sourif'">

    </div>
    <div class="title-card-img product player-bg-image-baskoy" *ngIf="data.name==='Baskoy'">

    </div>
    <div class="title-card-img product player-bg-image-slacker" *ngIf="data.name==='Slacker'">

    </div>
    <div class="title-card-img product player-bg-image-azerty" *ngIf="data.name==='Azerty'">

    </div>
    <div class="title-card-img product player-bg-image-fei" *ngIf="data.name==='Mr.Daiyamondo'">

    </div>
    <div class="title-card-img product player-bg-image-ckc" *ngIf="data.name==='CKC'">

    </div>
    <div class="title-card-img product player-bg-image-sapinos" *ngIf="data.name==='Sapinos'">

    </div>
    <div class="title-card-img product player-bg-image-smogoth" *ngIf="data.name==='Smogoth\''">

    </div>
    <div class="title-card-img product player-bg-image-bearr" *ngIf="data.name==='Bearr'">

    </div>

    <div class="title-card-img product player-bg-image-drazai" *ngIf="data.name==='Drazaï'">

    </div>

    <div class="title-card-img product player-bg-image-irto" *ngIf="data.name==='Irtozero'">

    </div>

    <div class="title-card-img product player-bg-image-mpt" *ngIf="data.name==='La MPT'">

    </div>
    <div class="title-card-img product player-bg-image-bls" *ngIf="data.name==='Le Blossom'">

    </div>
    <div class="title-card-img product player-bg-image-ht" *ngIf="data.name==='Le H Talk'">

    </div>
    <div class="title-card-img product player-bg-image-dc" *ngIf="data.name==='La Douille Corp'">

    </div>
    <div class="title-card-img product player-bg-image-mateo" *ngIf="data.name==='Qinmao'">

    </div>
    <div class="title-card-img product player-bg-image-talion" *ngIf="data.name==='Talion'">

    </div>




    <div class="title-card-img product">
        <p class="text"> {{ data.description }} </p>

        <br> <br> <br> 
        <video *ngIf="data.name==='La Douille Corp'" width="600" controls class="item-center">
            <source src="../../assets/videos/dc.mp4" type="video/mp4">
        </video>

        <video *ngIf="data.name==='LA MPT'" width="600" controls class="item-center">
            <source src="../../assets/videos/mpt.mp4" type="video/mp4">
        </video>

        <video *ngIf="data.name==='Le H Talk'" width="600" controls class="item-center">
            <source src="../../assets/videos/ht.mp4" type="video/mp4">
        </video>

        <video *ngIf="data.name==='Le Blossom'" width="600" controls class="item-center">
            <source src="../../assets/videos/bls.mp4" type="video/mp4">
        </video>

        <video *ngIf="data.name==='La MPT'" width="600" controls class="item-center">
            <source src="../../assets/videos/mpt.mp4" type="video/mp4">
        </video>

    </div>
</div>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>retour</button>
</mat-dialog-actions>

