<div class="color" style="padding-top: 20px;">

    <div class="fx fx-row-wrap fx-layout-align-stretch fx-layout-align-space-evenly-stretch width-60">

              
              
      <mat-card appearance="outlined" class="product card-img player-bg-image-soma">
        <div class="object-align text-card">
            <mat-card-header class="item-center">
                <mat-card-title class="norse-font">Soma</mat-card-title>
                
            </mat-card-header>
            <mat-card-actions>
                <button mat-button (click)="openDialog('Soma', 0)">Description</button>
            </mat-card-actions>
        </div>
          
      </mat-card>
              
              
              
      <mat-card appearance="outlined" class="product card-img player-bg-image-faustin">
        <div class="text-card">
            <mat-card-header class="item-center">
                <mat-card-title class="norse-font">Rouxblart</mat-card-title>
                
            </mat-card-header>
            <mat-card-actions>
                <button mat-button (click)="openDialog('Rouxblart', 1)">Description</button>
            </mat-card-actions>
        </div>
          
      </mat-card>

      <mat-card appearance="outlined" class="product card-img player-bg-image-loic">
        <div class="text-card">
            <mat-card-header class="item-center">
                <mat-card-title class="norse-font">Loïc</mat-card-title>
                
            </mat-card-header>
            <mat-card-actions>
                <button mat-button (click)="openDialog('Loic', 2)">Description</button>
            </mat-card-actions>
        </div>
          
      </mat-card>
              

      <mat-card appearance="outlined" class="product card-img player-bg-image-bastian">
        <div class="text-card">
            <mat-card-header class="item-center">
                <mat-card-title class="norse-font">Bastian</mat-card-title>
                
            </mat-card-header>
            <mat-card-actions>
                <button mat-button (click)="openDialog('Nesquik', 3)">Description</button>
            </mat-card-actions>
        </div>
          
      </mat-card>
              
      
      <mat-card appearance="outlined" class="product card-img player-bg-image-clem">
        <div class="text-card">
            <mat-card-header class="item-center">
                <mat-card-title class="norse-font">Clemclou</mat-card-title>
                
            </mat-card-header>
            <mat-card-actions>
                <button mat-button (click)="openDialog('Clemclou', 4)">Description</button>
            </mat-card-actions>
        </div>
          
      </mat-card>
              
      
      <mat-card appearance="outlined" class="product card-img player-bg-image-mateo">
        <div class="text-card">
            <mat-card-header class="item-center">
                <mat-card-title class="norse-font">Qinmao</mat-card-title>
                
            </mat-card-header>
            <mat-card-actions>
                <button mat-button (click)="openDialog('Qinmao', 5)">Description</button>
            </mat-card-actions>
        </div>
          
      </mat-card>
              

    </div>


</div>
