<div class="color" style="padding-top: 20px;">

    <div class="fx fx-row-wrap fx-layout-align-stretch fx-layout-align-space-evenly-stretch width-80">

            <mat-card appearance="outlined" class="title-card-img product" style="margin-bottom: 30px; border-radius: 90% 90% 0% 0%;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">LA MPT</mat-card-title>
                        
                    </mat-card-header>
                    <div class="team-bg-image-mpt image-div">
                    </div>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('La MPT', 0)" style="font-size: 22px;">Description</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
              
            <mat-card appearance="outlined" class="title-card-img product" style="margin-bottom: 30px; border-radius: 90% 90% 0% 0%;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">La Douille Corp</mat-card-title>
                        
                    </mat-card-header>
                    <div class="team-bg-image-dc image-div">
                    </div>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('La Douille Corp', 1)" style="font-size: 22px;">Description</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
              
            <mat-card appearance="outlined" class="title-card-img product" style="margin-bottom: 30px; border-radius: 90% 90% 0% 0%;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">Le HT</mat-card-title>
                    </mat-card-header>
                    <div class="team-bg-image-ht image-div-spe-ht">
                    </div>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('Le H Talk', 2)" style="font-size: 22px;">Description</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
              
            <mat-card appearance="outlined" class="title-card-img product" style="margin-bottom: 30px; border-radius: 90% 90% 0% 0%;">
                <div>
                    <mat-card-header class="mat-card-main-title">
                        <mat-card-title class="norse-font">La Blossom</mat-card-title>
                        
                    </mat-card-header>
                    <div class="team-bg-image-bls image-div">
                    </div>
                    <mat-card-actions>
                        <button mat-button (click)="openDialog('La Blossom', 3)" style="font-size: 22px;">Description</button>
                    </mat-card-actions>
                </div>
                  
            </mat-card>
              
              
              

    </div>

    <div class="grid">

        <div class="previous norse-font" routerLink="/coach">
            <br><br>
            Coachs
        </div>
        <div class="adb-logo">
    
        </div>
        <div class="next norse-font" routerLink="/staff">
            <br><br>
            Staff
        </div>
    </div>


</div>
