.fx {
    display: flex;
    height: 100%;
    padding: 10px 10px 10px 10px;
  }
  
  .fx-row-wrap {
    flex-flow: row wrap;
    background-color: #6a5b51; 
    }
  
  .fx-layout-align-space-evenly-stretch {
    place-content: stretch space-evenly;
    align-items: stretch;
  }
  
  .product {
    flex: 0 0 calc(33% - 16px);
    box-sizing: border-box;
    max-width: calc(33% - 16px);
    min-width: calc(33% - 16px);
  
    @media screen and (max-width: 599px) {
      flex: 1 1 calc(90% - 16px);
      box-sizing: border-box;
      min-width: calc(90% - 16px);
      max-width: 100%;
    }
  
    @media screen and (min-width: 600px) and (max-width: 959px) {
      flex: 0 0 calc(50% - 16px);
      box-sizing: border-box;
      min-width: calc(50% - 16px);
      max-width: calc(50% - 16px);
    }
  }

  .button-space {
    margin-right: 40px;
  }

.color {
    background-color: #4b5641;
    background-image: url(../../assets/adoubement2.png);
    background-size: cover;
    height: 100%;
    
  @media screen and (max-width: 700px) {
    
    height: 110%;
  }
}

.text-style {
  font-size: 30px;
  text-align: center;
  color: white;
}

.title-style {
  font-size: 90px;
  text-align: center;
  color: white;
}


.norse-font {
  font-family: 'Norse';
  color: white;
}

.item-center {
  display: block;
  margin: auto;
}

.width-80 {
  width: 70%;
  margin-left: 15%; 
}

video {
  
  width: 900px;

  @media screen and (max-width: 700px) {
    flex: 1 1 calc(90% - 16px);
    box-sizing: border-box;
    min-width: calc(90% - 16px);
    max-width: 100%;
  }

  @media screen and (min-width: 701px) and (max-width: 959px) {
    flex: 0 0 calc(50% - 16px);
    box-sizing: border-box;
    min-width: calc(50% - 16px);
    max-width: calc(50% - 16px);
  }
}